<!doctype html>
<html lang="ru-RU">
	<head>
		<title></title> <!--Заголовок в браузере.-->

		<meta charset="UTF-8"> <!--Кодировка-->
		<meta name="viewport" content="width=device-width, initial-scale=1"> <!--Для отображения на любом экране.-->
		<meta name="Yura" content=""> <!--Имя и ключевые слова.-->
		<meta name="Author" content="Yura"> <!--Автор и его имя.-->

		<link href="main.css"rel="stylesheet"type="text/css"> <!--css-->
		<link href="../sweet.css"rel="stylesheet"type="text/css"> <!--sweet css-->

                <link rel="icon" href=".png" type="image/x-icon"> <!--Иконка.-->
	</head>
        <body>
            
        </body>
</html>
