@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap'); /*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{

}

*{

}

body{
    background-color: ;
    color: ;
    size: ;
    padding: ;
    margin: ;
}
html{

}
a{

}
p, li, pre, summary{

}

/*Classes.*/

/*IDs.*/
